{
    "openapi": "3.0.1",
    "info": {
        "title": "إحصاءات الطاقة / Energy Statistics",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_HES_EHE_IT_HES0201": {
            "get": {
                "summary": "استخدام الأسر للوقود حسب نوع الوقود ونوع الحيازة والمنطقة الإدارية / Households fuel usage by fuel type, tenure type  and region",
                "description": "عدد المساكن التي تستخدم الوقود معبرا عنه بنسبة مئوية من إجمالي عدد المساكن / The percentage of households that using fuel, which can be expressed by percentage of the total number of households",
                "tags": [
                    "إحصاءات الطاقة المنزلي / Household Energy Statistics"
                ],
                "operationId": "getAllDPV_HES_EHE_IT_HES0201",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ENERGY_SOURCE_USAGE",
                                    "HOUSE_TYPE",
                                    "POSSESSION_TYPE",
                                    "REGION",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ENERGY_SOURCE_USAGE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ENERGY_SOURCE_USAGE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ENERGY_SOURCE_USAGE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ENERGY_SOURCE_USAGE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HOUSE_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of HOUSE_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HOUSE_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of HOUSE_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "POSSESSION_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of POSSESSION_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "POSSESSION_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of POSSESSION_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_HES_EHE_IT_HES0201 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_HES_EHE_IT_HES0201"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Energy Statistics",
                "x-main-ar": "إحصاءات الطاقة",
                "x-sub": "Household Energy Statistics",
                "x-sub-ar": "إحصاءات الطاقة المنزلي"
            }
        },
        "/v1/stats/DPV_HES_EHE_IT_HES0501": {
            "get": {
                "summary": "المساكن التي تستخدم الطاقة الشمسية حسب نوع المسكن والمناطق الإدارية / Households with solar energy usage by house type and region",
                "description": "عدد المساكن التي تستخدم الطاقة الشمسية معبرا عنه كنسبة مئوية من إجمالي المساكن / The percentage of households that use solar energy, which can be expressed by percentage of the total number of households",
                "tags": [
                    "إحصاءات الطاقة المنزلي / Household Energy Statistics"
                ],
                "operationId": "getAllDPV_HES_EHE_IT_HES0501",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "HOUSE_TYPE",
                                    "POSSESSION_TYPE",
                                    "REGION",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "HOUSE_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of HOUSE_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HOUSE_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of HOUSE_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "POSSESSION_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of POSSESSION_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "POSSESSION_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of POSSESSION_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_HES_EHE_IT_HES0501 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_HES_EHE_IT_HES0501"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Energy Statistics",
                "x-main-ar": "إحصاءات الطاقة",
                "x-sub": "Household Energy Statistics",
                "x-sub-ar": "إحصاءات الطاقة المنزلي"
            }
        },
        "/v1/stats/DPV_HES_EHE_IT_HES0602": {
            "get": {
                "summary": "الأسر التي تستخدم أجهزة ترشيد الطاقة الكهربائية حسب المناطق الإدارية / Households using energy saving devices by region",
                "description": "عدد الأسر التي تستخدم أجهزة ترشيد الطاقة الكهربائية معبرا عنه كنسبة مئوية من إجمالي عدد الأسر / The percentage of households that use electrical energy saving devices, which can be expressed by percentage of the total number of \r\nhouseholds",
                "tags": [
                    "إحصاءات الطاقة المنزلي / Household Energy Statistics"
                ],
                "operationId": "getAllDPV_HES_EHE_IT_HES0602",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "REGION",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_HES_EHE_IT_HES0602 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_HES_EHE_IT_HES0602"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Energy Statistics",
                "x-main-ar": "إحصاءات الطاقة",
                "x-sub": "Household Energy Statistics",
                "x-sub-ar": "إحصاءات الطاقة المنزلي"
            }
        },
        "/v1/stats/DPV_HES_EHE_IT_HES0605": {
            "get": {
                "summary": "المساكن التي يوجد بها عازل حراري حسب المناطق الإدارية / Households with thermal insulation by  region",
                "description": "عدد المساكن التي تستخدم العزل الحراري معبرا عنه كنسبة مئوية من إجمالي عدد المساكن / The percentage of households that use thermal insulation, which can be expressed by percentage of the total number of households",
                "tags": [
                    "إحصاءات الطاقة المنزلي / Household Energy Statistics"
                ],
                "operationId": "getAllDPV_HES_EHE_IT_HES0605",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "REGION",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "REGION_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_HES_EHE_IT_HES0605 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_HES_EHE_IT_HES0605"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Energy Statistics",
                "x-main-ar": "إحصاءات الطاقة",
                "x-sub": "Household Energy Statistics",
                "x-sub-ar": "إحصاءات الطاقة المنزلي"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_HES_EHE_IT_HES0201": {
                "type": "object",
                "properties": {
                    "ENERGY_SOURCE_USAGE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ENERGY_SOURCE_USAGE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ENERGY_SOURCE_USAGE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "HOUSE_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "HOUSE_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "HOUSE_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "POSSESSION_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "POSSESSION_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "POSSESSION_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_HH_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ENERGY_SOURCE_USAGE_CODE",
                    "HOUSE_TYPE_CODE",
                    "POSSESSION_TYPE_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_HES_EHE_IT_HES0501": {
                "type": "object",
                "properties": {
                    "HH_THAT_USE_SOLAR_ENERGY_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "HOUSE_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "HOUSE_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "HOUSE_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "POSSESSION_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "POSSESSION_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "POSSESSION_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_HH_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 40
                    }
                },
                "required": [
                    "HOUSE_TYPE_CODE",
                    "POSSESSION_TYPE_CODE"
                ]
            },
            "DPV_HES_EHE_IT_HES0602": {
                "type": "object",
                "properties": {
                    "HH_THAT_USE_ELECTRIC_ENERGY_SAVING_DEVICES_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_HH_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 40
                    }
                }
            },
            "DPV_HES_EHE_IT_HES0605": {
                "type": "object",
                "properties": {
                    "HH_WITH_THERMAL_INSULATION_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_HH_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 40
                    }
                }
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}