{
    "openapi": "3.0.1",
    "info": {
        "title": "SDG 2: Zero Hunger",
        "description": "This specification contains the documentation for: SDG 2: Zero Hunger",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_SDG2_2_1": {
            "get": {
                "summary": "Indicator 2.2.1: Prevalence of stunting (height for age <-2 standard deviation from the median of the World Health Organization (WHO) Child Growth Standards) among children under 5 years of age / المؤشر 2.2.1: معدل انتشار توقف النمو (الطول بالنسبة للعمر أقل من -2 نقطـة من الانحراف المعيـاري عن متوســـــــط معـايير نمو الطفـل لمنظمـة الصحة العالمية) بين الأطفال دون سن الخامسة",
                "description": "Indicator 2.2.1: Prevalence of stunted growth (height for age less than -2 points of standard deviation from the WHO mean / المؤشر 2.2.1: معدل انتشار توقف النمو (الطول بالنسبة للعمر أقل من -2 نقطـة من الانحراف المعيـاري عن متوســـــــط معـايير نمو الطفـل لمنظمـة الصحة العالمية) بين الأطفال دون سن الخامسة",
                "tags": [
                    "SDG 2: Zero Hunger"
                ],
                "operationId": "getAllDPV_SDG2_2_1",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "INDICATORS",
                                    "OBS_VALUE",
                                    "SEX",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "INDICATORS_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "INDICATORS_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "OBS_VALUE",
                        "in": "query",
                        "description": "Filter data based on the value of OBS_VALUE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_SDG2_2_1 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_SDG2_2_1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Sustainable Development Indicators",
                "x-sub": "SDG 2: Zero Hunger"
            }
        },
        "/v1/stats/DPV_SDG2_2_2_1": {
            "get": {
                "summary": "Indicator 2.2.2: Prevalence of malnutrition (weight for height >+2 or <-2 standard deviation from the median of the WHO Child Growth Standards) among children under 5 years of age, by type (wasting) / المؤشر 2.2.2: معدل انتشـار سـوء التغذية (الوزن بالنسبة للطول أكبر من 2 أو أصغر من -2 نقطة من الانحراف المعياري عن متوســـــــط معـايير نمو الطفـل لمنظمة الصحة العالمية) بين الأطفال دون سن الخامسة، مصنفين حسب النوع (الهزال)",
                "description": "Indicator 2.2.2: Prevalence of malnutrition (weight for height >+2 or <-2 standard deviation from the median of the WHO Child Growth Standards) among children under 5 years of age, by type (wasting) / المؤشر 2.2.2: معدل انتشـار سـوء التغذية (الوزن بالنسبة للطول أكبر من 2 أو أصغر من -2 نقطة من الانحراف المعياري عن متوســـــــط معـايير نمو الطفـل لمنظمة الصحة العالمية) بين الأطفال دون سن الخامسة، مصنفين حسب النوع (الهزال)",
                "tags": [
                    "SDG 2: Zero Hunger"
                ],
                "operationId": "getAllDPV_SDG2_2_2_1",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "INDICATORS",
                                    "OBS_VALUE",
                                    "SEX",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "INDICATORS_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "INDICATORS_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "OBS_VALUE",
                        "in": "query",
                        "description": "Filter data based on the value of OBS_VALUE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_SDG2_2_2_1 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_SDG2_2_2_1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Sustainable Development Indicators",
                "x-sub": "SDG 2: Zero Hunger"
            }
        },
        "/v1/stats/DPV_SDG2_2_2_2": {
            "get": {
                "summary": "Indicator 2.2.2: Prevalence of malnutrition (overweight) among children under 5 years of age by gender (%) / المؤشر 2.2.2: نسبة انتشار سوء التغذية بين الأطفال (زيادة الوزن) دون سن الخامسة حسب النوع الاجتماعي (%)",
                "description": "Indicator 2.2.2: Prevalence of malnutrition (overweight) among children under 5 years of age by gender (%) / المؤشر 2.2.2: نسبة انتشار سوء التغذية بين الأطفال (زيادة الوزن) دون سن الخامسة حسب النوع الاجتماعي (%)",
                "tags": [
                    "SDG 2: Zero Hunger"
                ],
                "operationId": "getAllDPV_SDG2_2_2_2",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "INDICATORS",
                                    "OBS_VALUE",
                                    "SEX",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "INDICATORS_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "INDICATORS_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "OBS_VALUE",
                        "in": "query",
                        "description": "Filter data based on the value of OBS_VALUE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_SDG2_2_2_2 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_SDG2_2_2_2"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Sustainable Development Indicators",
                "x-sub": "SDG 2: Zero Hunger"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_SDG2_2_1": {
                "type": "object",
                "properties": {
                    "INDICATORS_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "INDICATORS_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "INDICATORS_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBS_VALUE": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SEX_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SEX_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "SEX_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "INDICATORS_CODE",
                    "SEX_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_SDG2_2_2_1": {
                "type": "object",
                "properties": {
                    "INDICATORS_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "INDICATORS_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "INDICATORS_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBS_VALUE": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SEX_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SEX_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "SEX_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "INDICATORS_CODE",
                    "SEX_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_SDG2_2_2_2": {
                "type": "object",
                "properties": {
                    "INDICATORS_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "INDICATORS_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "INDICATORS_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBS_VALUE": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SEX_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SEX_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "SEX_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "INDICATORS_CODE",
                    "SEX_CODE",
                    "YEAR_TIME"
                ]
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}