{
    "openapi": "3.0.1",
    "info": {
        "title": "إحصاءات الطاقة / Energy Statistics",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_HES_EHE_IT_HES0301": {
            "get": {
                "summary": "المساكن المتصلة بالكهرباء حسب مصدر الكهرباء ونوع الحيازة والمنطقة الإدارية / Housing units with electricity connection by electricity network, tenure type and region",
                "description": "عدد المساكن المتصلة بالكهرباء معبرا عنه كنسبة مئوية من إجمالي المساكن / The percentage of households that connected to electricity, which can be expressed by percentage of the total number of households",
                "tags": [
                    "إحصاءات الطاقة الكهربائية / Electrical Energy Statistics"
                ],
                "operationId": "getAllDPV_HES_EHE_IT_HES0301",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ELECTRICITY_NETWORK_TYPE",
                                    "HOUSE_TYPE",
                                    "POSSESSION_TYPE",
                                    "REGION",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ELECTRICITY_NETWORK_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ELECTRICITY_NETWORK_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ELECTRICITY_NETWORK_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ELECTRICITY_NETWORK_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HOUSE_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of HOUSE_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HOUSE_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of HOUSE_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "POSSESSION_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of POSSESSION_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "POSSESSION_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of POSSESSION_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_HES_EHE_IT_HES0301 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_HES_EHE_IT_HES0301"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Energy Statistics",
                "x-main-ar": "إحصاءات الطاقة",
                "x-sub": "Electrical Energy Statistics",
                "x-sub-ar": "إحصاءات الطاقة الكهربائية"
            }
        },
        "/v1/stats/DPV_HES_EHE_IT_HES0303": {
            "get": {
                "summary": "استهلاك الطاقة الكهربائية في المساكن حسب فترة الإستهلاك والمناطق الإدارية / Housing units electrical energy consumption by season and region",
                "description": "وهي الكميات المستهلكة من الطاقة الكهربائية بالكيلو واط في المساكن خلال فصل الشتاء ( ديسمبر,يناير, فبراير)وباقي السنة / the Quantities consumed electrical energy  in kilowatts in housings during the winter season (December, January, February) and the rest of the year.",
                "tags": [
                    "إحصاءات الطاقة الكهربائية / Electrical Energy Statistics"
                ],
                "operationId": "getAllDPV_HES_EHE_IT_HES0303",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CONSUMP_OPERATION_PERIOD",
                                    "REGION",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "CONSUMP_OPERATION_PERIOD_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of CONSUMP_OPERATION_PERIOD_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CONSUMP_OPERATION_PERIOD_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of CONSUMP_OPERATION_PERIOD_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_HES_EHE_IT_HES0303 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_HES_EHE_IT_HES0303"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Energy Statistics",
                "x-main-ar": "إحصاءات الطاقة",
                "x-sub": "Electrical Energy Statistics",
                "x-sub-ar": "إحصاءات الطاقة الكهربائية"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_HES_EHE_IT_HES0301": {
                "type": "object",
                "properties": {
                    "ELECTRICITY_NETWORK_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ELECTRICITY_NETWORK_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ELECTRICITY_NETWORK_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "HH_CONNECTED_TO_ELECTRICITY_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "HOUSE_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "HOUSE_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "HOUSE_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "POSSESSION_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "POSSESSION_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "POSSESSION_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_HH_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 40
                    }
                },
                "required": [
                    "ELECTRICITY_NETWORK_TYPE_CODE",
                    "HOUSE_TYPE_CODE",
                    "POSSESSION_TYPE_CODE"
                ]
            },
            "DPV_HES_EHE_IT_HES0303": {
                "type": "object",
                "properties": {
                    "CONSUMP_OPERATION_PERIOD_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "CONSUMP_OPERATION_PERIOD_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "CONSUMP_OPERATION_PERIOD_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBSVALUE_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 40
                    }
                },
                "required": [
                    "CONSUMP_OPERATION_PERIOD_CODE"
                ]
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}