{
    "openapi": "3.0.1",
    "info": {
        "title": "إحصاءات الأعمال / Business Statistics",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_IB_QTR_EFIB0101": {
            "get": {
                "summary": "عدد المنشآت الإقتصادية حسب النشاط الإقتصادي / Economic establishments by economic activities",
                "description": "المنشأة الإقتصادية: هي وحدة عمل اقتصادية ذات كيان قانوني لها موقع ثابت يزاول فيها نشاط اقتصادي معين، ويملكها شخص أو مجموعة أشخاص أو شـركة أو قطاع شبه حكومي أو مؤسسة، وهي أصغر وحدة اقتصادية يمكن أن تتوفر لديها بيانات عن المشتغلين وتعويضاتهم المالية بالإضافة إلى النفقات والإيرادات والتكوينات الرأسمالية / Economic establishment: It is an economic business unit with a legal entity that has a fixed location in which to conduct a specific economic activity, and it is owned by a person, group of people, company, semi-governmental sector or institution, and it is the smallest economic unit that can have data on workers and their financial compensation in addition to expenditures and revenues, and capital formations",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_QTR_EFIB0101",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "EMPLOYEES_CLASS_SIZE",
                                    "YEAR_QUARTER",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_QUARTER_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_QUARTER_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_QTR_EFIB0101 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_QTR_EFIB0101"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_QTR_EFIB010201": {
            "get": {
                "summary": "الإيرادات التشغيلية للمنشآت الإقتصادية حسب النشاط الاقتصادي / Operating revenues by economic activities",
                "description": "هي كافة الإيرادات المتحققة نتيجة ممارسة المنشأة لنشاطها الرئيس أو الأنشطة الثانوية الأخرى، كبيع وتسويق منتجاتها، أو مقابل تقديم خدماتها للمستهلكين أو نتيجة لتجارة البضائع بصفة عامة، كما تشمل المبيعات من البضائع المشتراة بغرض بيعها بنفس حالتها، كما تشمل العوائد اليومية المقبوضة نظير التشغيل، وتشمل هذه الإيرادات إجمالي قيمة المبيعات من المنتجات المصنعة بالإضافة إلى إيرادات تشغيلية أخرى لا ترتبط بالنشاط الاقتصادي الرئيس للمنشأة بل ترتبط بأنشطة المنشأة الثانوية، وتشمل إيرادات الخدمات الصناعية، وإيرادات الأنشطة الثانوية، وإيرادات بيع مخلفات إنتاج، وتأجير مباني / It is all the revenues accrued as a result of the establishment's practice of its main activity or other secondary activities, such as selling and marketing its products, or in return for providing its services to consumers or as a result of merchandise trade in general, and it also includes sales of goods purchased for the purpose of selling them in the same condition, and it also includes the daily returns received in exchange for operating, These revenues include the total value of sales of manufactured products in addition to other operating revenues that are not related to the main economic activity of the establishment but are related to the secondary activities of the establishment, and it includes revenues from industrial services, revenues from secondary activities, revenues from selling production waste, renting buildings and non-agricultural lands, as well as renting machines and equipment. ... etc.",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_QTR_EFIB010201",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "YEAR",
                                    "YEAR_QUARTER"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_QUARTER_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_QUARTER_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_QTR_EFIB010201 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_QTR_EFIB010201"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_QTR_EFIB010203": {
            "get": {
                "summary": "النفقات التشغيلية للمنشآت الإقتصادية حسب النشاط الاقتصادي / Operating expenses by economic activities",
                "description": "جميع ما تنفقه المنشأة نتيجة مزاولة النشاط الاقتصادي الذي تقوم به  خلال الفترة المرجعية / All what the establishment spends as a result of practicing the economic activity during the reference period",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_QTR_EFIB010203",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "YEAR",
                                    "YEAR_QUARTER"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_QUARTER_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_QUARTER_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_QTR_EFIB010203 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_QTR_EFIB010203"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_QTR_EFIB010205": {
            "get": {
                "summary": "فائض التشغيل في المنشآت الإقتصادية حسب النشاط الاقتصادي / Operating surplus by economic activities",
                "description": "هو عبارة عن الإيرادات التشغيلية مطروحًا منها النفقات التشغيلية وتعويضات المشتغلين / It is the operating revenues minus operating expenses and employees' compensation",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_QTR_EFIB010205",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "YEAR",
                                    "YEAR_QUARTER"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_QUARTER_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_QUARTER_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_QTR_EFIB010205 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_QTR_EFIB010205"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_QTR_EFIB010507": {
            "get": {
                "summary": "تعويضات المشتغلين في المنشآت الاقتصادية حسب النشاط الاقتصادي / Compensation per employee in economic establishments by economic activities",
                "description": "إجمالي تعويضات المشتغلين مقسوماً على إجمالي عدد المشتغلين خلال الفترة المرجعية / Total employees' compensation divided by the total number of employees during the reference period",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_QTR_EFIB010507",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "EDUCATIONAL_LEVEL",
                                    "LEGAL_ENTITY",
                                    "PROPERTY_TYPE",
                                    "REGION",
                                    "YEAR_QUARTER",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EDUCATIONAL_LEVEL_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of EDUCATIONAL_LEVEL_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EDUCATIONAL_LEVEL_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EDUCATIONAL_LEVEL_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LEGAL_ENTITY_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of LEGAL_ENTITY_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LEGAL_ENTITY_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of LEGAL_ENTITY_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PROPERTY_TYPE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of PROPERTY_TYPE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PROPERTY_TYPE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of PROPERTY_TYPE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_QUARTER_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_QUARTER_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_QTR_EFIB010507 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_QTR_EFIB010507"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_YEAR_C_EFIB0101": {
            "get": {
                "summary": "عدد المنشآت الإقتصادية حسب عدد العاملين / Economic establishments by employment size class",
                "description": "المنشأة الإقتصادية: هي وحدة عمل اقتصادية ذات كيان قانوني لها موقع ثابت يزاول فيها نشاط اقتصادي معين، ويملكها شخص أو مجموعة أشخاص أو شـركة أو قطاع شبه حكومي أو مؤسسة، وهي أصغر وحدة اقتصادية يمكن أن تتوفر لديها بيانات عن المشتغلين وتعويضاتهم المالية بالإضافة إلى النفقات والإيرادات والتكوينات الرأسمالية / Economic establishment: It is an economic business unit with a legal entity that has a fixed location in which to conduct a specific economic activity, and it is owned by a person, group of people, company, semi-governmental sector or institution, and it is the smallest economic unit that can have data on workers and their financial compensation in addition to expenditures and revenues, and capital formations",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_YEAR_C_EFIB0101",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "EMPLOYEES_CLASS_SIZE",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_YEAR_C_EFIB0101 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_YEAR_C_EFIB0101"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_YEAR_EFIB0101": {
            "get": {
                "summary": "عدد المنشآت الإقتصادية حسب النشاط الإقتصادي وفئة حجم المنشأة / Economic establishments by economic activities and size class",
                "description": "المنشأة الإقتصادية: هي وحدة عمل اقتصادية ذات كيان قانوني لها موقع ثابت يزاول فيها نشاط اقتصادي معين، ويملكها شخص أو مجموعة أشخاص أو شـركة أو قطاع شبه حكومي أو مؤسسة، وهي أصغر وحدة اقتصادية يمكن أن تتوفر لديها بيانات عن المشتغلين وتعويضاتهم المالية بالإضافة إلى النفقات والإيرادات والتكوينات الرأسمالية / Economic establishment: It is an economic business unit with a legal entity that has a fixed location in which to conduct a specific economic activity, and it is owned by a person, group of people, company, semi-governmental sector or institution, and it is the smallest economic unit that can have data on workers and their financial compensation in addition to expenditures and revenues, and capital formations",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_YEAR_EFIB0101",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "ECONOMIC_ACTIVITIES_LEVEL",
                                    "EMPLOYEES_CLASS_SIZE",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_LEVEL_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_LEVEL_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_LEVEL_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_LEVEL_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_YEAR_EFIB0101 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_YEAR_EFIB0101"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_YEAR_EFIB010201": {
            "get": {
                "summary": "الإيرادات التشغيلية للمنشآت الإقتصادية حسب النشاط الاقتصادي / Operating revenues by economic activities",
                "description": "هي كافة الإيرادات المتحققة نتيجة ممارسة المنشأة لنشاطها الرئيس أو الأنشطة الثانوية الأخرى، كبيع وتسويق منتجاتها، أو مقابل تقديم خدماتها للمستهلكين أو نتيجة لتجارة البضائع بصفة عامة، كما تشمل المبيعات من البضائع المشتراة بغرض بيعها بنفس حالتها، كما تشمل العوائد اليومية المقبوضة نظير التشغيل، وتشمل هذه الإيرادات إجمالي قيمة المبيعات من المنتجات المصنعة بالإضافة إلى إيرادات تشغيلية أخرى لا ترتبط بالنشاط الاقتصادي الرئيس للمنشأة بل ترتبط بأنشطة المنشأة الثانوية، وتشمل إيرادات الخدمات الصناعية، وإيرادات الأنشطة الثانوية، وإيرادات بيع مخلفات إنتاج، وتأجير مباني وأراضي غير زراعية، وكذلك تأجير آلات ومعدات ... إلخ. / It is all the revenues accrued as a result of the establishment's practice of its main activity or other secondary activities, such as selling and marketing its products, or in return for providing its services to consumers or as a result of merchandise trade in general, and it also includes sales of goods purchased for the purpose of selling them in the same condition, and it also includes the daily returns received in exchange for operating, These revenues include the total value of sales of manufactured products in addition to other operating revenues that are not related to the main economic activity of the establishment but are related to the secondary activities of the establishment, and it includes revenues from industrial services, revenues from secondary activities, revenues from selling production waste, renting buildings and non-agricultural lands, as well as renting machines and equipment. ... etc.",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_YEAR_EFIB010201",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "EMPLOYEES_CLASS_SIZE",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_YEAR_EFIB010201 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_YEAR_EFIB010201"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_YEAR_EFIB010203": {
            "get": {
                "summary": "النفقات التشغيلية للمنشآت الإقتصادية حسب النشاط الاقتصادي / Operating expenses by economic activities",
                "description": "جميع ما تنفقه المنشأة نتيجة مزاولة النشاط الاقتصادي الذي تقوم به  خلال العام / All what the establishment spends as a result of practicing the economic activity during the year",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_YEAR_EFIB010203",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "EMPLOYEES_CLASS_SIZE",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_YEAR_EFIB010203 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_YEAR_EFIB010203"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        },
        "/v1/stats/DPV_IB_YEAR_EFIB010205": {
            "get": {
                "summary": "فائض التشغيل في المنشآت الإقتصادية حسب النشاط الاقتصادي / Operating surplus by economic activities",
                "description": "هو عبارة عن الإيرادات التشغيلية مطروحًا منها النفقات التشغيلية وتعويضات المشتغلين / It is the operating revenues minus operating expenses and employees' compensation",
                "tags": [
                    "إحصاءات الأعمال الهيكلية / Structural Business Statistics"
                ],
                "operationId": "getAllDPV_IB_YEAR_EFIB010205",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ECONOMIC_ACTIVITIES",
                                    "EMPLOYEES_CLASS_SIZE",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ECONOMIC_ACTIVITIES_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ECONOMIC_ACTIVITIES_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EMPLOYEES_CLASS_SIZE_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of EMPLOYEES_CLASS_SIZE_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB_YEAR_EFIB010205 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB_YEAR_EFIB010205"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Structural Business Statistics",
                "x-sub-ar": "إحصاءات الأعمال الهيكلية"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_IB_QTR_EFIB0101": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1155
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1155
                    },
                    "EMPLOYEES_CLASS_SIZE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_ECONOMIC_ESTABLISHMENTS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_QUARTER_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 10
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "YEAR_QUARTER_TIME"
                ]
            },
            "DPV_IB_QTR_EFIB010201": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_QUARTER_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 10
                    },
                    "OPERATING_REVENUES_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "YEAR_QUARTER_TIME"
                ]
            },
            "DPV_IB_QTR_EFIB010203": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_QUARTER_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 10
                    },
                    "OPERATING_EXPENDITURES_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "YEAR_QUARTER_TIME"
                ]
            },
            "DPV_IB_QTR_EFIB010205": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_QUARTER_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 10
                    },
                    "OPERATING_SURPLUS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "YEAR_QUARTER_TIME"
                ]
            },
            "DPV_IB_QTR_EFIB010507": {
                "type": "object",
                "properties": {
                    "AVERAGE_MONTHLY_COMPENSATION_PAID_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EDUCATIONAL_LEVEL_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EDUCATIONAL_LEVEL_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "EDUCATIONAL_LEVEL_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "LEGAL_ENTITY_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "LEGAL_ENTITY_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "LEGAL_ENTITY_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "PROPERTY_TYPE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "PROPERTY_TYPE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "PROPERTY_TYPE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_QUARTER_TIME": {
                        "description": "",
                        "type": "string",
                        "maxLength": 10
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "EDUCATIONAL_LEVEL_CODE",
                    "LEGAL_ENTITY_CODE",
                    "PROPERTY_TYPE_CODE",
                    "REGION_CODE",
                    "YEAR_QUARTER_TIME"
                ]
            },
            "DPV_IB_YEAR_C_EFIB0101": {
                "type": "object",
                "properties": {
                    "EMPLOYEES_CLASS_SIZE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "EMPLOYEES_CLASS_SIZE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_ECONOMIC_ESTABLISHMENTS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "EMPLOYEES_CLASS_SIZE_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_IB_YEAR_EFIB0101": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_LEVEL_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 26
                    },
                    "ECONOMIC_ACTIVITIES_LEVEL_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1
                    },
                    "ECONOMIC_ACTIVITIES_LEVEL_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 30
                    },
                    "EMPLOYEES_CLASS_SIZE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "TOTAL_ECONOMIC_ESTABLISHMENTS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "YEAR_TIME"
                ]
            },
            "DPV_IB_YEAR_EFIB010201": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "EMPLOYEES_CLASS_SIZE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "OPERATING_REVENUES_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "EMPLOYEES_CLASS_SIZE_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_IB_YEAR_EFIB010203": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "EMPLOYEES_CLASS_SIZE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "OPERATING_EXPENDITURES_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "EMPLOYEES_CLASS_SIZE_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_IB_YEAR_EFIB010205": {
                "type": "object",
                "properties": {
                    "ECONOMIC_ACTIVITIES_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ECONOMIC_ACTIVITIES_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ECONOMIC_ACTIVITIES_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "EMPLOYEES_CLASS_SIZE_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "EMPLOYEES_CLASS_SIZE_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "OPERATING_SURPLUS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "ECONOMIC_ACTIVITIES_CODE",
                    "EMPLOYEES_CLASS_SIZE_CODE",
                    "YEAR_TIME"
                ]
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}