{
    "openapi": "3.0.1",
    "info": {
        "title": "إحصاءات السياحة والحج والعمرة / Tourism ,Hajj and Umrah Statistics",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_UMRA_PLMUMRA0101_02": {
            "get": {
                "summary": "المعتمرين من داخل المملكة العربية السعودية حسب الجنس,الجنسية وفئات العمر / Umrah performers from Saudi Arabia by  gender, nationality and age  groups",
                "description": "إجمالي عدد  أفراد الأسرة القاطنة داخل حدود المملكة الذين أدوا مناسك العمرة خلال السنة المرجعية / The total number of household members residing within the borders of the Kingdom who performed Umrah during the reference year",
                "tags": [
                    "إحصاءات العمرة / Umrah Statistics"
                ],
                "operationId": "getAllDPV_UMRA_PLMUMRA0101_02",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "AGE_GROUP",
                                    "NATIONALITY",
                                    "REGION",
                                    "SEX",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "AGE_GROUP_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of AGE_GROUP_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "NATIONALITY_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of NATIONALITY_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "REGION_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of REGION_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_UMRA_PLMUMRA0101_02 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_UMRA_PLMUMRA0101_02"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Spatial and Resources Statistics",
                "x-parent-ar": "الإحصاءات المكانية والموارد",
                "x-main": "Tourism ,Hajj and Umrah Statistics",
                "x-main-ar": "إحصاءات السياحة والحج والعمرة",
                "x-sub": "Umrah Statistics",
                "x-sub-ar": "إحصاءات العمرة"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_UMRA_PLMUMRA0101_02": {
                "type": "object",
                "properties": {
                    "AGE_GROUP_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "AGE_GROUP_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "NATIONALITY_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "NATIONALITY_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBSVALUE_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "REGION_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "REGION_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SEX_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SEX_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "YEAR_TIME"
                ]
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}