{
    "openapi": "3.0.1",
    "info": {
        "title": "SDG 17: Partnership for The Goals",
        "description": "This specification contains the documentation for: SDG 17: Partnership for The Goals",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_SDG17_3_2": {
            "get": {
                "summary": "Indicator 17.3.2 Volume of remittances (in United States dollars) as a proportion of total GDP / المؤشر 17.3.2: حجم التحويلات المالية (دولار أمريكي) كنسبة من مجموع الناتج المحلي الإجمالي",
                "description": "Indicator 17.3.2 Volume of remittances (in United States dollars) as a proportion of total GDP / المؤشر 17.3.2: حجم التحويلات المالية (دولار أمريكي) كنسبة من مجموع الناتج المحلي الإجمالي",
                "tags": [
                    "SDG 17: Partnership for The Goals"
                ],
                "operationId": "getAllDPV_SDG17_3_2",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "INDICATORS",
                                    "ITEM",
                                    "OBS_VALUE",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "INDICATORS_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "INDICATORS_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ITEM_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of ITEM_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ITEM_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of ITEM_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "OBS_VALUE",
                        "in": "query",
                        "description": "Filter data based on the value of OBS_VALUE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_SDG17_3_2 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_SDG17_3_2"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Sustainable Development Indicators",
                "x-sub": "SDG 17: Partnership for The Goals"
            }
        },
        "/v1/stats/DPV_SDG17_8_1": {
            "get": {
                "summary": "Indicator 17.8.1 Proportion of individuals using the Internet / المؤشر 17.8.1: نسبة الذين يستخدمون الانترنت (%)",
                "description": "Indicator 17.8.1 Proportion of individuals using the Internet / المؤشر 17.8.1: نسبة الذين يستخدمون الانترنت (%)",
                "tags": [
                    "SDG 17: Partnership for The Goals"
                ],
                "operationId": "getAllDPV_SDG17_8_1",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "INDICATORS",
                                    "OBS_VALUE",
                                    "SEX",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "INDICATORS_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "INDICATORS_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of INDICATORS_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "OBS_VALUE",
                        "in": "query",
                        "description": "Filter data based on the value of OBS_VALUE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_CODE",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_CODE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SEX_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SEX_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_SDG17_8_1 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_SDG17_8_1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Sustainable Development Indicators",
                "x-sub": "SDG 17: Partnership for The Goals"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_SDG17_3_2": {
                "type": "object",
                "properties": {
                    "INDICATORS_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "INDICATORS_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "INDICATORS_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ITEM_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "ITEM_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "ITEM_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBS_VALUE": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "INDICATORS_CODE",
                    "ITEM_CODE",
                    "YEAR_TIME"
                ]
            },
            "DPV_SDG17_8_1": {
                "type": "object",
                "properties": {
                    "INDICATORS_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "INDICATORS_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "INDICATORS_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "OBS_VALUE": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SEX_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SEX_CODE": {
                        "description": "",
                        "type": "string",
                        "maxLength": 128
                    },
                    "SEX_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                },
                "required": [
                    "INDICATORS_CODE",
                    "SEX_CODE",
                    "YEAR_TIME"
                ]
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}