{
    "openapi": "3.0.1",
    "info": {
        "title": "إحصاءات الأعمال / Business Statistics",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.stats.gov.sa",
            "description": "Prod Environment"
        }
    ],
    "paths": {
        "/v1/stats/DPV_IB46_EFIB120101": {
            "get": {
                "summary": "الإنفاق على البحث والتطوير حسب القطاع / Research and Development expenditure by sector",
                "description": "",
                "tags": [
                    "إحصاءات البحث والتطوير / Research and Development Statistics"
                ],
                "operationId": "getAllDPV_IB46_EFIB120101",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SECTOR",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "SECTOR_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SECTOR_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB46_EFIB120101 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB46_EFIB120101"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Research and Development Statistics",
                "x-sub-ar": "إحصاءات البحث والتطوير"
            }
        },
        "/v1/stats/DPV_IB46_EFIB120103": {
            "get": {
                "summary": "إجمالي أعداد المشتغلين في مجال البحث والتطوير / Total Number of Employees in Research and Development field",
                "description": "",
                "tags": [
                    "إحصاءات البحث والتطوير / Research and Development Statistics"
                ],
                "operationId": "getAllDPV_IB46_EFIB120103",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "NUMBER_OF_EMPLOYEES",
                                    "SECTOR",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "NUMBER_OF_EMPLOYEES",
                        "in": "query",
                        "description": "Filter data based on the value of NUMBER_OF_EMPLOYEES",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SECTOR_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SECTOR_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB46_EFIB120103 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB46_EFIB120103"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Research and Development Statistics",
                "x-sub-ar": "إحصاءات البحث والتطوير"
            }
        },
        "/v1/stats/DPV_IB46_EFIB120105": {
            "get": {
                "summary": "إجمالي أعداد الباحثين في مجال البحث والتطوير / Total Number of Researchers in Research and Development field",
                "description": "",
                "tags": [
                    "إحصاءات البحث والتطوير / Research and Development Statistics"
                ],
                "operationId": "getAllDPV_IB46_EFIB120105",
                "parameters": [
                    {
                        "name": "dimensions[]",
                        "in": "query",
                        "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SECTOR",
                                    "YEAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "SECTOR_ENGL",
                        "in": "query",
                        "description": "Filter data based on the value of SECTOR_ENGL",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "YEAR_TIME",
                        "in": "query",
                        "description": "Filter data based on the value of YEAR_TIME",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The number of results to return."
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is the offset of results to skip when returning results."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JSON",
                                "HTML",
                                "CSV"
                            ]
                        },
                        "description": "When set, the results will be returned in the requested format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DPV_IB46_EFIB120105 response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DPV_IB46_EFIB120105"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CDataError"
                                }
                            }
                        }
                    }
                },
                "x-parent": "Economic Statistics",
                "x-parent-ar": "الإحصاءات الاقتصادية",
                "x-main": "Business Statistics",
                "x-main-ar": "إحصاءات الأعمال",
                "x-sub": "Research and Development Statistics",
                "x-sub-ar": "إحصاءات البحث والتطوير"
            }
        }
    },
    "components": {
        "schemas": {
            "DPV_IB46_EFIB120101": {
                "type": "object",
                "properties": {
                    "EXPENDITURE_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "PERCENTAGE_OF_EXPENDITURE_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SECTOR_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SECTOR_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                }
            },
            "DPV_IB46_EFIB120103": {
                "type": "object",
                "properties": {
                    "NUMBER_OF_EMPLOYEES": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "PERCENTAGE_OF_EMPLOYEES_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SECTOR_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SECTOR_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                }
            },
            "DPV_IB46_EFIB120105": {
                "type": "object",
                "properties": {
                    "NUMBER_OF_RESEARCHERS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "PERCENTAGE_OF_RESEARCHERS_OBSV": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    },
                    "SECTOR_ARAB": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "SECTOR_ENGL": {
                        "description": "",
                        "type": "string",
                        "maxLength": 1024
                    },
                    "YEAR_TIME": {
                        "description": "",
                        "type": "number",
                        "maxLength": 22
                    }
                }
            },
            "CDataError": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CDataInError"
                    }
                }
            },
            "CDataInError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}