{
  "openapi": "3.0.1",
  "info": {
    "title": "SDG 4: Quality Education",
    "description": "This specification contains the documentation for: SDG 4: Quality Education",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stats.gov.sa",
      "description": "Prod Environment"
    }
  ],
  "paths": {
    "/v1/stats/DPV_SDG4_1_1_1": {
      "get": {
        "summary": "Indicator 4.1.1 Proportion of children and young people (a) in grades 2/3; (b) at the end of primary; and (c) at the end of intermediate achieving at least a minimum proficiency level in reading by gender / المؤشر 4.1.1: نسبة الأطفال والشــــباب (أ) في الصــــف الثاني/الثالث؛ و (ب) في نهاية المرحلة الابتدائية و (ج) في نهاية المرحلة من التعليم الثانوي، الـذين يحققون على الأقـل الحـد الأدنى من مســـــــتوى الكفاءة في  القراءة حسب النوع الاجتماعي",
        "description": "Indicator 4.1.1 Proportion of children and young people (a) in grades 2/3; (b) at the end of primary; and (c) at the end of intermediate achieving at least a minimum proficiency level in reading by gender / المؤشر 4.1.1: نسبة الأطفال والشــــباب (أ) في الصــــف الثاني/الثالث؛ و (ب) في نهاية المرحلة الابتدائية و (ج) في نهاية المرحلة من التعليم الثانوي، الـذين يحققون على الأقـل الحـد الأدنى من مســـــــتوى الكفاءة في  القراءة حسب النوع الاجتماعي",
        "tags": [
          "SDG 4: Quality Education"
        ],
        "operationId": "getAllDPV_SDG4_1_1_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GRADES_END",
                  "INDICATORS",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG4_1_1_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG4_1_1_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 4: Quality Education"
      }
    },
    "/v1/stats/DPV_SDG4_1_1_2": {
      "get": {
        "summary": "Indicator 4.1.1 Proportion of children and young people (a) in grades 2/3; (b) at the end of primary; and (c) at the end of intermediate achieving at least a minimum proficiency level in mathematics, by gender / المؤشر 4.1.1: نسبة الأطفال والشــــباب (أ) في الصــــف الثاني/الثالث؛ و (ب) في نهاية المرحلة الابتدائية و (ج) في نهاية المرحلة من التعليم الثانوي، الـذين يحققون على الأقـل الحـد الأدنى من مســـــــتوى الكفاءة في الرياضيات حسب النوع الاجتماعي",
        "description": "Indicator 4.1.1 Proportion of children and young people (a) in grades 2/3; (b) at the end of primary; and (c) at the end of intermediate achieving at least a minimum proficiency level in mathematics, by gender / المؤشر 4.1.1: نسبة الأطفال والشــــباب (أ) في الصــــف الثاني/الثالث؛ و (ب) في نهاية المرحلة الابتدائية و (ج) في نهاية المرحلة من التعليم الثانوي، الـذين يحققون على الأقـل الحـد الأدنى من مســـــــتوى الكفاءة في الرياضيات حسب النوع الاجتماعي",
        "tags": [
          "SDG 4: Quality Education"
        ],
        "operationId": "getAllDPV_SDG4_1_1_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GRADES_END",
                  "INDICATORS",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG4_1_1_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG4_1_1_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 4: Quality Education"
      }
    },
    "/v1/stats/DPV_SDG4_1_2": {
      "get": {
        "summary": "Indicator 4.1.2: Completion rate (primary education, intermediate education, secondary education), 2017 (%) / المؤشر 4.1.2: معدل اكمال الدراسة (التعليم الابتدائي، التعليم المتوسط، والتعليم الثانوي, 2017 (%)",
        "description": "Indicator 4.1.2: Completion rate (primary education, intermediate education, secondary education), 2017 (%) / المؤشر 4.1.2: معدل اكمال الدراسة (التعليم الابتدائي، التعليم المتوسط، والتعليم الثانوي, 2017 (%)",
        "tags": [
          "SDG 4: Quality Education"
        ],
        "operationId": "getAllDPV_SDG4_1_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GRADES",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG4_1_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG4_1_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 4: Quality Education"
      }
    },
    "/v1/stats/DPV_SDG4_C_1": {
      "get": {
        "summary": "Indicator 4.c.1: Proportion of teachers with the minimum required qualifications, by education level (%) / المؤشر 4.ج.1: نسبة المعلمين الحــاصـــــــلين على الحــد الأدنى من المؤهلات اللازمة، بحسب المستوى التعليمي (%)",
        "description": "Indicator 4.c.1: Proportion of teachers with the minimum required qualifications, by education level (%) / المؤشر 4.ج.1: نسبة المعلمين الحــاصـــــــلين على الحــد الأدنى من المؤهلات اللازمة، بحسب المستوى التعليمي (%)",
        "tags": [
          "SDG 4: Quality Education"
        ],
        "operationId": "getAllDPV_SDG4_C_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GRADES",
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG4_C_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG4_C_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 4: Quality Education"
      }
    }
  },
  "components": {
    "schemas": {
      "DPV_SDG4_1_1_1": {
        "type": "object",
        "properties": {
          "GRADES_END_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "GRADES_END_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "GRADES_END_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "GRADES_END_CODE",
          "INDICATORS_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG4_1_1_2": {
        "type": "object",
        "properties": {
          "GRADES_END_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "GRADES_END_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "GRADES_END_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "GRADES_END_CODE",
          "INDICATORS_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG4_1_2": {
        "type": "object",
        "properties": {
          "GRADES_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "GRADES_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "GRADES_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "GRADES_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG4_C_1": {
        "type": "object",
        "properties": {
          "GRADES_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "GRADES_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "GRADES_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "GRADES_CODE",
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "CDataError": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CDataInError"
          }
        }
      },
      "CDataInError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
