{
  "openapi": "3.0.1",
  "info": {
    "title": "SDG 5: Gender Equality",
    "description": "This specification contains the documentation for: SDG 5: Gender Equality",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stats.gov.sa",
      "description": "Prod Environment"
    }
  ],
  "paths": {
    "/v1/stats/DPV_SDG5_5_1": {
      "get": {
        "summary": "Indicator 5.5.1: Proportion of seats held by women in (a) national parliaments and (b) local governments / المؤشر 5.5.1: نسبة المقاعد التي تشـغلها النسـاء في (أ) مجلس الشورى الرجل في شـغل المناصـب القيادية على جميع مسـتوى صـنع القرار و (ب) الحكومات المحلية في الحياة السياسية والاقتصادية والعامة",
        "description": "Indicator 5.5.1: Proportion of seats held by women in (a) national parliaments and (b) local governments / المؤشر 5.5.1: نسبة المقاعد التي تشـغلها النسـاء في (أ) مجلس الشورى الرجل في شـغل المناصـب القيادية على جميع مسـتوى صـنع القرار و (ب) الحكومات المحلية في الحياة السياسية والاقتصادية والعامة",
        "tags": [
          "SDG 5: Gender Equality"
        ],
        "operationId": "getAllDPV_SDG5_5_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "SECTOR_WOMEN",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG5_5_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG5_5_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 5: Gender Equality"
      }
    },
    "/v1/stats/DPV_SDG5_5_2": {
      "get": {
        "summary": "Indicator 5.5.2: Proportion of women in managerial positions / المؤشر 5.5.2: نسبة النساء في المناصب الإدارية",
        "description": "Indicator 5.5.2: Proportion of women in managerial positions / المؤشر 5.5.2: نسبة النساء في المناصب الإدارية",
        "tags": [
          "SDG 5: Gender Equality"
        ],
        "operationId": "getAllDPV_SDG5_5_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG5_5_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG5_5_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 5: Gender Equality"
      }
    },
    "/v1/stats/DPV_SDG5_B_1": {
      "get": {
        "summary": "Indicator 5.b.1: Proportion of all individuals who own a mobile telephone, by gender / المؤشر 5.ب.1: نسبة الأفراد الذين يملكون الهاتف المحمول، حســـب نوع النوع الاجتماعي",
        "description": "Indicator 5.b.1: Proportion of all individuals who own a mobile telephone, by gender / المؤشر 5.ب.1: نسبة الأفراد الذين يملكون الهاتف المحمول، حســـب نوع النوع الاجتماعي",
        "tags": [
          "SDG 5: Gender Equality"
        ],
        "operationId": "getAllDPV_SDG5_B_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG5_B_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG5_B_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 5: Gender Equality"
      }
    }
  },
  "components": {
    "schemas": {
      "DPV_SDG5_5_1": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SECTOR_WOMEN_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SECTOR_WOMEN_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SECTOR_WOMEN_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "SECTOR_WOMEN_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG5_5_2": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG5_B_1": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "CDataError": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CDataInError"
          }
        }
      },
      "CDataInError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
