{
  "openapi": "3.0.1",
  "info": {
    "title": "SDG 3: Good Health and Well-Being",
    "description": "This specification contains the documentation for: SDG 3: Good Health and Well-Being",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stats.gov.sa",
      "description": "Prod Environment"
    }
  ],
  "paths": {
    "/v1/stats/DPV_SDG3_1_1": {
      "get": {
        "summary": "Indicator 3.1.1: Maternal mortality ratio / المؤشر 3.1.1: نسبة وفيات الأمومة",
        "description": "Indicator 3.1.1: Maternal mortality ratio / المؤشر 3.1.1: نسبة وفيات الأمومة",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_1_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_1_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_1_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_2_2": {
      "get": {
        "summary": "Indicator 3.2.2: Neonatal mortality rate / المؤشر 3.2.2: معدل وفيات الأطفال حديثي الولادة",
        "description": "Indicator 3.2.2: Neonatal mortality rate / المؤشر 3.2.2: معدل وفيات الأطفال حديثي الولادة",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_2_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_2_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_2_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_3_1": {
      "get": {
        "summary": "Indicator 3.3.1: Number of new HIV infections per 1,000 uninfected population, by gender, age and key population    / المؤشر 3.3.1: عدد المصابين بفيروس نقص المناعة البشرية لكل 1,000 من السكان",
        "description": "Indicator 3.3.1: Number of new HIV infections per 1,000 uninfected population, by gender, age and key population    / المؤشر 3.3.1: عدد المصابين بفيروس نقص المناعة البشرية لكل 1,000 من السكان",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_3_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_3_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_3_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_3_2": {
      "get": {
        "summary": "Indicator 3.3.2: Tuberculosis incidence per 100,000 population / المؤشر 3.3.2: معدل انتشار داء السل لكل 000 100 شخص",
        "description": "Indicator 3.3.2: Tuberculosis incidence per 100,000 population / المؤشر 3.3.2: معدل انتشار داء السل لكل 000 100 شخص",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_3_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_3_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_3_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_3_3": {
      "get": {
        "summary": "Indicator 3.3.3: Malaria incidence per 1,000 population / المؤشر 3.3.3: عدد حالات الإصابة بمرض الملاريا لكل 1,000 من السكان",
        "description": "Indicator 3.3.3: Malaria incidence per 1,000 population / المؤشر 3.3.3: عدد حالات الإصابة بمرض الملاريا لكل 1,000 من السكان",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_3_3",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "SEX",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_3_3 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_3_3"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_3_4": {
      "get": {
        "summary": "Indicator 3.3.4: Hepatitis B incidence per 100,000 population / المؤشر 3.3.4: عدد الإصابات بأمراض التهاب الكبد الوبائي لكل 100,000 من السكان",
        "description": "Indicator 3.3.4: Hepatitis B incidence per 100,000 population / المؤشر 3.3.4: عدد الإصابات بأمراض التهاب الكبد الوبائي لكل 100,000 من السكان",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_3_4",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_3_4 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_3_4"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_7_1": {
      "get": {
        "summary": "Indicator 3.7.1: Proportion of women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with modern methods / المؤشر 3.7.1: نسبة النساء اللاتي في سـن الإنجاب (15-49 ســـنة) لبيت حاجتهن لتنظيم الاسرة بطرق حديثة (%)",
        "description": "Indicator 3.7.1: Proportion of women of reproductive age (aged 15?49 years) who have their need for family planning satisfied with modern methods / المؤشر 3.7.1: نسبة النساء اللاتي في سـن الإنجاب (15-49 ســـنة) لبيت حاجتهن لتنظيم الاسرة بطرق حديثة (%)",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_7_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_7_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_7_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_7_2": {
      "get": {
        "summary": "Indicator 3.7.2: Adolescent birth rate (aged 10-14 years; aged 15-19 years) per 1,000 women in that age group / المؤشر 3.7.2: معدل الولادات لدى المراهقات 10-14 سنة و15-19 سنة لكل 1000 امرأة في تلك الفئة العمرية",
        "description": "Indicator 3.7.2: Adolescent birth rate (aged 10?14 years; aged 15?19 years) per 1,000 women in that age group / المؤشر 3.7.2: معدل الولادات لدى المراهقات 10-14 سنة و15-19 سنة لكل 1000 امرأة في تلك الفئة العمرية",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_7_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_7_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_7_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    },
    "/v1/stats/DPV_SDG3_C_1": {
      "get": {
        "summary": "Indicator 3.c.1: Health worker density and distribution / المؤشر 3.ج.1: معدل كثافة الأخصائيين الصحيين وتوزيعهم لكل 100,00 من السكان",
        "description": "Indicator 3.c.1: Health worker density and distribution / المؤشر 3.ج.1: معدل كثافة الأخصائيين الصحيين وتوزيعهم لكل 100,00 من السكان",
        "tags": [
          "SDG 3: Good Health and Well-Being"
        ],
        "operationId": "getAllDPV_SDG3_C_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "OBS_VALUE",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG3_C_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG3_C_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent": "Sustainable Development Indicators",
        "x-sub": "SDG 3: Good Health and Well-Being"
      }
    }
  },
  "components": {
    "schemas": {
      "DPV_SDG3_1_1": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_2_2": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_3_1": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_3_2": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_3_3": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "SEX_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "SEX_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "SEX_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "SEX_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_3_4": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_7_1": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_7_2": {
        "type": "object",
        "properties": {
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "DPV_SDG3_C_1": {
        "type": "object",
        "properties": {
          "HEALTH_PRACTITIONER_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "HEALTH_PRACTITIONER_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "HEALTH_PRACTITIONER_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_ARAB": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "INDICATORS_CODE": {
            "description": "",
            "type": "string",
            "maxLength": 128
          },
          "INDICATORS_ENGL": {
            "description": "",
            "type": "string",
            "maxLength": 1024
          },
          "OBS_VALUE": {
            "description": "",
            "type": "number",
            "maxLength": 22
          },
          "YEAR_TIME": {
            "description": "",
            "type": "number",
            "maxLength": 22
          }
        },
        "required": [
          "HEALTH_PRACTITIONER_CODE",
          "INDICATORS_CODE",
          "YEAR_TIME"
        ]
      },
      "CDataError": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CDataInError"
          }
        }
      },
      "CDataInError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
