{
  "openapi": "3.0.1",
  "info": {
    "title": "التنمية المستدامة / Sustainable Development",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stats.gov.sa",
      "description": "Prod Environment"
    }
  ],
  "paths": {
    "/v1/stats/DPV_SDG10_C_1": {
      "get": {
        "summary": "المؤشر 10.ج.1: تكاليف التحويلات المالية كنسبة من المبالغ المحولة (بالملايين) / Indicator 10.c.1 Remittance costs as a proportion of the amount remitted (in millions)",
        "description": "تكاليف التحويلات المالية كنسبة من المبلغ المحول\". وهو ليس واضح المعالم، والمماثل والمحدد جيدًا على النحو التالي:\r\nلذا نقترح استخدام المؤشر المماثل والمحدد جيدًا على النحو التالي: \"متوسط التكلفة الإجمالية لإرسال 200 دولار أو ما يعادلها بعملة المرسل المحلية (في كل قناة للدولة) كنسبة من المبلغ المرسل.\"\r\nفقراءة هذا المؤشر متاحة لما مجموعه 365 قناة في العالم، لـ 48 بلدًا مُرسِلًا و105 بلدان مستقبلة، على أساس ربع سنوي، وفقًا لقاعدة بيانات أسعار التحويلات التابعة للبنك الدولي في جميع أنحاء العالم. وتستند معلومات توفر البيانات أعلاه إلى البلدان الـ 105 المستقبلة.\r\nمصدر البيانات: البنك المركزي السعودي / Costs of remittances as a proportion of the amount remitted is not clearly defined. Therefore, it is recommended to use the corresponding, well-defined indicator as follows:\r\n\"Average total cost of sending USD 200, or its equivalent in the sender's local currency, through each country corridor, expressed as a percentage of the amount sent.\"\r\nThis indicator is available for a total of 365 remittance corridors worldwide, covering 48 sending countries and 105 receiving countries, on a quarterly basis, according to the World Bank Remittance Prices Worldwide database. The information on data availability above is based on the 105 receiving countries.\r\nData source: Saudi Central Bank.",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG10_C_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG10_C_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG10_C_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG11_6_2": {
      "get": {
        "summary": "المؤشر 11.6.2: المتوســـط الســـنوي لمستويات الجسيمات (على سبيل المثال والجســـــــيمات من الفئة 10 و 2.5 في المدن (المرَّجح حسب السكان) / Indicator 11.6.2: Annual mean levels of fine particulate matter (e.g., PM2.5 and PM10) in cities ",
        "description": "يمثل متوسط التركيز السنوي للجسيمات الدقيقة التي يقل قطرها عن 2.5 مقياسا شائعا لتلوث الهواء .والمتوسط الوسطي هو متوسط عدد السكان في المناطق الحضرية ،ويتم التعبير عنه بالميكروجرام لكل متر مكعب.\r\nمصدر البيانات:وزارة البيئة والمياه والزراعة / The average annual concentration of fine particulate matter less than 2.5 is a common measure of air pollution. The average is the average urban population, expressed in micrograms per cubic meter.\r\nData Source: Ministry of Environment, Water and Agriculture",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG11_6_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG11_6_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG11_6_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG15_1_2": {
      "get": {
        "summary": "المؤشر 15.1.2: نسبة المواقع الهامة التي تجسـد التنوع البيولوجي لليابسـة والمياه العذبة والتي تشـــــــملها المناطق المحمية، حســـــــب نوع النظام الإيكولوجي  / Indicator 15.1.2 Proportion of important sites for terrestrial and freshwater biodiversity that are covered by protected areas, by ecosystem type",
        "description": "نسبة المواقع المهمة التي تجسد التن وع البيولوجي لليابسة والمياه العذبة والتي تشملها المناطق المحمية يظهر الاتجاهات الزمنية أي النسبة المئوية لكل موقع مهم للتنوع البيولوجي لليابسة والمياه العذبة أي تلك المواقع التي تساهم بشكل كبير في استمرار التنوع محددةالبيولوجي في العالم ويتم تغطيته بحسب مناطق محمية \r\nمصدر البيانات: وزارة البيئة والمياه والزراعة - الهيئة السعودية للحياة الفطرية / Proportion of important sites that embody land and freshwater biodiversity and are covered by protected areas Shows time trends, i.e. thePercentage % of each site important for land and freshwater biodiversity, i.e. those sites that contribute significantly to the continuation of the world?s biodiversity and are covered by specific protected areas.\r\nData Source: Ministry of Environment, Water and Agriculture ? Saudi Wildlife Authority",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG15_1_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG15_1_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG15_1_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG16_6_1": {
      "get": {
        "summary": "المؤشر 16.6.1: النفقات الحكومية الرئيسية كنسبة من الميزانية الاصلية المعتمدة حسب القطاع / Indicator 16.6.1 Primary government expenditures as a proportion of original approved budget, by sector",
        "description": "يقيس هذا المؤشر مدى توافق إجمالي النفقات الحكومية الفعلية مع المبلغ المعتمد أصلاً في الميزانية، كما هو موضح في وثائق الميزانية الحكومية والتقارير المالية. ويغطي المؤشر ميزانية الحكومة المركزية خلال كل سنة مالية.\r\nتشمل النفقات الإجمالية جميع النفقات الفعلية، بما في ذلك النفقات الناتجة عن أحداث غير مخطط لها أو استثنائية، مثل النزاعات المسلحة أو الكوارث الطبيعية. كما تشمل النفقات الممولة من الإيرادات غير المتوقعة، بما في ذلك عائدات الخصخصة، والنفقات الممولة خارجياً من خلال القروض أو المنح إذا كانت مدرجة ضمن الميزانية، بالإضافة إلى مخصصات الطوارئ ومدفوعات فوائد الديون.\r\nولا تُدرج المبالغ المخصصة للحسابات المعلقة ضمن إجمالي النفقات، إلا إذا كانت الأرصدة المحتفظ بها في هذه الحسابات بنهاية السنة المالية قد تؤثر على النتائج عند تضمينها، وفي هذه الحالة يمكن إدراجها مع توضيح أسباب ذلك بشكل واضح.\r\nوقد تختلف النفقات الفعلية عن المبالغ المعتمدة في الميزانية لأسباب لا ترتبط بدقة التقديرات، مثل التعرض لصدمات اقتصادية كلية كبيرة. لذلك يأخذ المؤشر في الاعتبار إمكانية وجود سنة استثنائية واحدة خلال فترة التقييم، ويركز على الانحرافات التي تتكرر في سنتين من أصل ثلاث سنوات يشملها التقييم.\r\nمصدر البيانات: وزارة المالية  / Primary government expenditure as a percentage  of the original approved budget This indicator measures the extent to which total budget expenditures are reflected in the amount originally approved, as defined in government budget documents and financial reports. These data cover the central government budget and the time period of each fiscal year of the States. Total expenditures include actual expenditures that include those incurred as a result of unplanned or exceptional events ? for examplearmed conflicts or natural disasters. Total expenditure also includes expenditure financed by unanticipated revenue, including privatization proceeds, externally financed expenditure through loans or grants if included in the budget, as well as contingency appropriations and debt interest payments.\r\nAmounts allocated to suspense accounts are not included in total expenditure unless the balances remaining in these accounts at the end of the fiscal year would affect the results if included. In such cases, they may be included, provided that the reasons for their inclusion are clearly explained.\r\nActual expenditure may differ from the amount originally approved in the budget for reasons unrelated to the accuracy of budget estimates, such as significant macroeconomic shocks. Therefore, the indicator allows for one exceptional year during the assessment period and focuses on expenditure deviations that occur in two out of the three years covered by the assessment.\r\nData Source: Ministry of Finance",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG16_6_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG16_6_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG16_6_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG17_3_2": {
      "get": {
        "summary": "المؤشر 17.3.2: حجم التحويلات المالية (دولار أمريكي) كنسبة من مجموع الناتج المحلي الإجمالي / Indicator 17.3.2 Volume of remittances (in United States dollars) as a proportion of total GDP",
        "description": "التحويلات الشخصية المستلمة كنسبة من الناتج المحلي الإجمالي هي تدفق التحويلات الشخصية معبَّرًا عنها كنسبة مئوية من الناتج المحلي الإجمالي.\r\nتعويضات العاملين، وفقًا للإصدار السادس من دليل ميزان المدفوعات الصادر عن صندوق النقد الدولي، تندرج ضمن حساب الدخل الأولي، وهي (مدفوعات أو متحصلات) رواتب لغير المقيمين، وتشمل العاملين في المنظمات الدولية والسفارات.\r\nمدفوعات التحويلات الشخصية، ضمن حساب الدخل الثانوي، تشمل تحويلات العاملين المقيمين في المملكة لمساعدة عائلاتهم.\r\nمصدر البيانات: البنك المركزي السعودي / Personal remittances received as a proportion of Gross Domestic Product (GDP) represent the inflow of personal remittances expressed as a percentage of GDP.\r\nCompensation of employees, in accordance with the Balance of Payments and International Investment Position Manual, Sixth Edition (BPM6) issued by the International Monetary Fund (IMF), is recorded under the primary income account and consists of wages and salaries (payments or receipts) earned by non-resident workers, including employees of international organizations and embassies.\r\nPersonal transfer payments, recorded under the secondary income account, include transfers made by workers residing in the Kingdom to support their families.\r\nData source: Saudi Central Bank.",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG17_3_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG17_3_2 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG17_3_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG17_8_1": {
      "get": {
        "summary": "المؤشر 17.8.1: نسبة الذين يستخدمون الانترنت (%) / Indicator 17.8.1 Proportion of individuals using the Internet",
        "description": "يتم تعريف المؤشر كنسبة الأفراد الذين يستخدمون الإنترنت بأنها نسبة الأفراد الذين استخدموا الإنترنت من أي موقع في الأشهر الثلاثة الأخيرة.\r\nمصدر البيانات: هيئة الاتصالات والفضاء والتقنية / The proportion of individuals who used the Internet from any location in the last three months.\r\nData Source : Communications, Space and Technology Commission",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG17_8_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG17_8_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG17_8_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG2_2_1": {
      "get": {
        "summary": "المؤشر 2.2.1: معدل انتشار توقف النمو (الطول بالنسبة للعمر أقل من -2 نقطـة من الانحراف المعيـاري عن متوســـــــط معـايير نمو الطفـل لمنظمـة الصحة العالمية) بين الأطفال دون سن الخامسة / Indicator 2.2.1: Prevalence of stunting (height for age <-2 standard deviation from the median of the World Health Organization (WHO) Child Growth Standards) among children under 5 years of age",
        "description": "انتشار توقف النمو (الطول بالنسبة للعمر > - 2 نقطة من الانحراف المعياري عن متوسط معايير نمو الطفل لمنظمة الصحة\r\nالعالمية) بين الأطفال دون سن الخامسة.\r\nمصدر البيانات : وزارة الصحة والهيئة العامة للإحصاء / Prevalence of stunting (height-for-age <-2 standard deviations from the median of the (WHO) Child Growth Standards) among children under five years of age.\r\nData Source: Ministry of Health and General Authority for Statistics",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG2_2_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG2_2_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG2_2_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG2_2_2_1": {
      "get": {
        "summary": "المؤشر 2.2.2: معدل انتشـار سـوء التغذية (الوزن بالنسبة للطول أكبر من 2 أو أصغر من -2 نقطة من الانحراف المعياري عن متوســـــــط معـايير نمو الطفـل لمنظمة الصحة العالمية) بين الأطفال دون سن الخامسة، مصنفين حسب النوع (الهزال) / Indicator 2.2.2: Prevalence of malnutrition (weight for height >+2 or <-2 standard deviation from the median of the WHO Child Growth Standards) among children under 5 years of age, by type (wasting)",
        "description": "المؤشر 2.2.2: معدل انتشـار سـوء التغذية (الوزن بالنسبة للطول أكبر من 2 أو أصغر من -2 نقطة من الانحراف المعياري عن متوســـــــط معـايير نمو الطفـل لمنظمة الصحة العالمية) بين الأطفال دون سن الخامسة، مصنفين حسب النوع (الهزال) / Indicator 2.2.2: Prevalence of malnutrition (weight for height >+2 or <-2 standard deviation from the median of the WHO Child Growth Standards) among children under 5 years of age, by type (wasting)",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG2_2_2_1",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Group data by any of these dimensions. You can only filter and order the data if the corresponding dimension is selected.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AGE_GROUPS",
                  "ECO_SYSTEM_TYPE",
                  "GRADES",
                  "GRADES_END",
                  "HEALTH_PRACTITIONER",
                  "INDICATORS",
                  "ITEM",
                  "NATIONALITY",
                  "OBS_VALUE",
                  "PM",
                  "REGION",
                  "SANITATION_SERVICES",
                  "SECTOR",
                  "SECTOR_WOMEN",
                  "SEX",
                  "TECHNOLOGY",
                  "YEAR"
                ]
              }
            }
          },
          {
            "name": "AGE_GROUPS_CODE",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AGE_GROUPS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of AGE_GROUPS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_CODE",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ECO_SYSTEM_TYPE_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ECO_SYSTEM_TYPE_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_CODE",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_END_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_END_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GRADES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of GRADES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_CODE",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HEALTH_PRACTITIONER_ENGL",
            "in": "query",
            "description": "Filter data based on the value of HEALTH_PRACTITIONER_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_CODE",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INDICATORS_ENGL",
            "in": "query",
            "description": "Filter data based on the value of INDICATORS_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_CODE",
            "in": "query",
            "description": "Filter data based on the value of ITEM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ITEM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of ITEM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_CODE",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NATIONALITY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of NATIONALITY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OBS_VALUE",
            "in": "query",
            "description": "Filter data based on the value of OBS_VALUE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_CODE",
            "in": "query",
            "description": "Filter data based on the value of PM_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PM_ENGL",
            "in": "query",
            "description": "Filter data based on the value of PM_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_CODE",
            "in": "query",
            "description": "Filter data based on the value of REGION_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REGION_ENGL",
            "in": "query",
            "description": "Filter data based on the value of REGION_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_CODE",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SANITATION_SERVICES_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SANITATION_SERVICES_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_CODE",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SECTOR_WOMEN_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SECTOR_WOMEN_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_CODE",
            "in": "query",
            "description": "Filter data based on the value of SEX_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SEX_ENGL",
            "in": "query",
            "description": "Filter data based on the value of SEX_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_CODE",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECHNOLOGY_ENGL",
            "in": "query",
            "description": "Filter data based on the value of TECHNOLOGY_ENGL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YEAR_TIME",
            "in": "query",
            "description": "Filter data based on the value of YEAR_TIME",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Order the results by this property in ascending or descending order.  Example for ascending: 'Name ASC' Example for descending: 'Name DESC'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The number of results to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This is the offset of results to skip when returning results."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "HTML",
                "CSV"
              ]
            },
            "description": "When set, the results will be returned in the requested format."
          }
        ],
        "responses": {
          "200": {
            "description": "DPV_SDG2_2_2_1 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DPV_SDG2_2_2_1"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDataError"
                }
              }
            }
          }
        },
        "x-parent-ar": "البيانات المؤرشفة",
        "x-parent": "Archived Data",
        "x-main-ar": "التنمية المستدامة",
        "x-main": "Sustainable Development",
        "x-sub": "Sustainable Development Goals",
        "x-sub-ar": "أهداف التنمية المستدامة"
      }
    },
    "/v1/stats/DPV_SDG2_2_2_2": {
      "get": {
        "summary": "المؤشر 2.2.2: نسبة انتشار سوء التغذية بين الأطفال (زيادة الوزن) دون سن الخامسة حسب النوع الاجتماعي (%) / Indicator 2.2.2: Prevalence of malnutrition (overweight) among children under 5 years of age by gender (%)",
        "description": "المؤشر 2.2.2: نسبة انتشار سوء التغذية بين الأطفال (زيادة الوزن) دون سن الخامسة حسب النوع الاجتماعي (%) / Indicator 2.2.2: Prevalence of malnutrition (overweight) among children under 5 years of age by gender (%)",
        "tags": [
          "أهداف التنمية المستدامة / Sustainable Development Goals"
        ],
        "operationId": "getAllDPV_SDG2_2_2_2",
        "parameters": [
          {
            "name": "dimensions[]",
            "in": "query",
[...]
